*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(203, 236, 253);
    font-family: "Hanken Grotesk", sans-serif;
   
}
.container{
    width: 1140px;
    margin: auto;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    line-height: 4;
}
h1{
    font-size: 24px;
}
.side-btn input{
    border: 1px solid rgb(234, 231, 231);
    padding: 1rem;
    border-radius: 20px;
    width: 20%;
}
.side-btn {
  
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
a{
    color: black;
}
/* main{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin-top: 3rem;
} */
/* .balance{
    font-size: 2rem;
}
.grid-container{
    display: grid;
   grid:auto-flow / 1fr 1fr ; 
   border-color: blue;
   background-color: bisque;
   grid-auto-rows: max-content(574px,auto);
}
.grid-container .grid-item {
    grid-column: span 1;
  }
   */
   .block{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 10px;
    padding: 20px;
}

.transactions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.transaction {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.deposit {
    background-color: #8BC34A;
    color: white;
}

.withdrawal {
    background-color: #F44336;
    color: white;
}

.main-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.transfer-money, .request-loan, .close-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.transfer-money {
    background-color: #FFC107;
}

.request-loan {
    background-color: #4CAF50;
}

.close-account {
    background-color: #F44336;
}

.transfer-money input, .request-loan input, .close-account input {
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: span 2;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}