*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: "Hanken Grotesk", sans-serif;
    color: aliceblue;
   
}
.container{
    width: 1140px;
    margin: auto;
    border-right: .1px solid whitesmoke;
    border-left: .1px solid whitesmoke;
    line-height:1.8;
    padding-inline: 1rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 4;
    padding-inline: 2rem;
    border-bottom:.5px solid white;
 
}
h1{
    font-size: 24px;
    /* background-color: aliceblue; */
    background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.side-btn {

   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 1rem;
 
}
.side-btn input{
  
    padding: 1rem;
    border-radius: 20px;
    width: 20%;
    background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
}
a{
    background: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.balance{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;

}
.balance .bal_label{
    font-size: 1.5rem;
    font-weight: 700;
    /* background-color: azure; */
}

.balance .bal_val{
    font-size: 2rem;
    font-weight: 700;
    /* background-color: blanchedalmond; */
}
section{
    margin-top: 1rem;

    display: flex;
    gap:2rem;
   
}
section .mov{
    flex: 50%;
}
section .mov_row{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
section .mov_row .mov_type--deposit{
    padding: .2rem .8rem;
    background-color: rgb(98, 160, 5);
    border-radius: 30px;
}
section .mov_row .mov_type--withdrawal{
    padding: .2rem .8rem;
    border-radius: 30px;
    background-color: rgb(171, 22, 22);
}
section .summary{
    flex: 50%;
    align-items: flex-end;
    border-left: 1px solid white; 
    padding-left: 2rem;
}
section .summary .transfer-money input{
    background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
 
}
section .summary .request-loan input{
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}
section .summary .close-account input{
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
}

section .summary input{
     padding: 2rem;
     border-radius: 20px;
     background: none;
     border: none;
}
section .summary button{
    background-color: transparent;
    border: none;
    color: aliceblue;
}
.footer{
    margin-top: 6rem;
   display: flex;
   justify-content: space-evenly;
}

